<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PasarelaPago</a>
</div>

<div class="sidebar">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="">Inicio</NavLink>
        <NavLink class="nav-link" href="transacciones">Transacciones</NavLink>
    </nav>
</div>
