# Archivos de configuración de usuario de VS
.vs/
*.user
*.suo

# Compilación
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb

# Archivos temporales
*.log
*.cache
*.tmp

# Archivos de configuración de IDE
*.vscode/
*.idea/

# Otros
*.vsidx
